<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="left_col">
                <div class="stuff-wrapper">
                    <div class="logo">
                        <h1 class= "text-center logo-text">
                            <img class="logo_img" src="Images/logo.png" width="48px"/>
                            Yak Hub Agent
                        </h1>
                    </div>
                    <div class="sub_header">
                        <h4 class="text-center">
                            Agent sign-in
                        </h4>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-sm-6">
            <div class="right_col">
                <div class="form_container">
                    <form ng-submit='login()'>  
                        <div class="form-group">
                            <label for="username">Name</label>
                            <input type="text" class="form-control" name="username" id="username" ng-model='username' placeholder="e.g. 'Agent Smith'">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" ng-model='password' placeholder="*********">
                        </div>
                        <div class="form-group">
                        
                        </div>            
                        <input id="submit" name="submit" type="submit" value=" Login " class="btn btn-primary">
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>